<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <script type="text/javascript" src="../static/js/javascript.js"></script>
    <title>Programmist Ligemalt</title>
</head>
<body>

    <div class="navbar">
        <a href="{{ url_for('kodu') }}" >Kodulehekülg</a>
        <a href="{{ url_for('ristsõna') }}">Ristsõna</a>
        <a href="{{ url_for('leheküljest') }}">Leheküljest</a>
    </div>
    <div class="main">
        <h1>Tegu on automaatse ristsõna genereerijaga, mis valmis bakalaureuse lõputööna</h1>
        <p>Alustame siis !</p>
    </div>

</body>
</html>