<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/print.css">
    <script type="text/javascript" src="../static/js/javascript.js"></script>
    <title>Ristsõna genereerija</title>
</head>
<body id="body">

    <div class="navbar">
        <a href="{{ url_for('kodu') }}" >Kodulehekülg</a>
        <a href="{{ url_for('ristsõna') }}">Ristsõna</a>
        <a href="{{ url_for('leheküljest') }}">Leheküljest</a>
        <a href="{{ url_for('ristsõna')}}">Genereeri uus ristsõna.</a>
        <a onclick="printScreen()">Prindi leht</a>
    </div>


    <h1 id="print0" class="main print">Ristõna</h1>

    <div id="print1" class="grid-container" style="padding-left: 20%">
        <div>
            <h3>Paremale:</h3>
            {% for key in sõnastik %}
                 {% if '-' == sõnastik.get(key)[1] %}
                    <p>{{ sõnastik.get(key)[2] }}. {{ sõnastik.get(key)[3] }}</p>
                    <p>[{{key|length}} tähte.]</p>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <h3>Alla:</h3>
            {% for key in sõnastik %}
                {% if '|' == sõnastik.get(key)[1] %}
                    <p>{{ sõnastik.get(key)[2] }}. {{ sõnastik.get(key)[3] }}</p>
                    <p>[{{key|length}} tähte.]</p>
                {% endif %}
            {% endfor %}
        </div>

        <div class="crossword main">
        <table>
            {% for rida in laud %}

                <tr>
                    {% for el in rida %}
                        {% if el == '.' %}
                            <td><label class="input_label"></label></td>
                        {% else %}
                            <td><b><input class="input" type="text" value="{{ el }}"</b></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>


    </div>
    </div>

    <div id="print2" class="main">
        <h1>Lahendus</h1>

        {% for lahend in sõnastik %}
            {{ sõnastik.get(lahend)[2] }}. {{ lahend }}
        {% endfor %}

        <table style="padding-left: 32%">
            {% for rida in lahendus %}

                <tr>
                    {% for el in rida %}
                        {% if el == '.' %}
                            <td><label class="input_label"></label></td>
                        {% else %}
                            <td><input class="input" type="text" value="{{ el }}"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>


</body>
</html>